
<div class="jumbotron">
	<h1>Top Dog Trivia</h1>
	<div id="explain"> 
		<p>TopDogTrivia.com is preparing to change the way trivia is played. Inspired by a journey through weekly pub trivias in three different states, the TopDog project will create the first online gaming platform for serious trivia masters.</p> 
		<br> 
		<p>But that's not all. Unlike the many other trivia options on and off-line, TopDog will offer the first real prize for online trivia domination. That's right. Only this time, you won't be playing for a $25 bar tab to split with your six friends. The moment is now. TopDog is the pro tour of trivia.</p>  
	</div> 
	<br> 
	<% if user_signed_in? %>
		# do something 
	<% else %>
		<div id="enterbutton">
			<%= link_to "Sign-In ", new_user_session_path, class: "btn btn-primary btn-lg" %>
			<%= link_to "Sign-Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<p>Ready to go pro?</p> 
		</div> 
	<% end %>

</div>



