<div class="container">
        <div class="jumbotron">

	<h1>Legal Info for TopDog</h1>
	<p>Sign up <a href="http://www.google.com">here</a>

	<!-- Test just to show the q and a structure of our legal page --> 
	<p>Yep, we're very legal. More to come later. Here are some FAQ.</p> 
	<p style="font-weight:bold">Q: This is our first question. Let's try putting this inline and bold</p>
	<p>A: This is our first answer as to why our system is alright. Let's try putting some text in just as a placeholder for now.</p>  

	<p style="font-weight:bold">That first one looked great. What else can we do in this section?</p>
	<p>A: It did, didn't it? Now we can have some more content in this space. I'll write a little more just so we can test out the spacing in this section of the page.</p> 

</div>